  <%= form_for(worker, :html => {:class => "form-horizontal"}) do |f| %>
      <% if worker.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

            <ul>
              <% worker.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <div></div>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :surname %>
        <%= f.text_field :surname, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>

      <div>
        <%= f.submit class: 'btn btn-default'%>
      </div>
  <% end %>